li {
  margin: 15px;
}
.message {
  padding: 5px;
  font-size: 25px;
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: blue;
}

.mainInstructions {
  font-size: 25px;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/4/34/2eI8wf.gif");
}
